# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

resources:
  repositories:
  - repository: ue4
    type: github
    endpoint: switchcase-build
    name: SwitchCaseGroup/interactivefitness-expressogame-unrealengine
    ref: refs/tags/4.25.0-release
  - repository: self
    clean: true

steps:
- checkout: self
  clean: true
  path: Game
- checkout: ue4
  fetchDepth: 1
  path: UnrealEngine

- script: |
    cd $(Agent.BuildDirectory)/UnrealEngine
    ./Setup.sh
    ./GenerateProjectFiles.sh
  displayName: 'Unreal Engine Setup'

- script: |
    cd $(Agent.BuildDirectory)/UnrealEngine
    mkdir "$(Agent.BuildDirectory)/Game/SurvivalGame/Build"
    Engine/Build/BatchFiles/Linux/Build.sh ShaderCompileWorker Linux Development
    Engine/Build/BatchFiles/RunUAT.sh BuildCookRun -Project="$(Agent.BuildDirectory)/Game/SurvivalGame/SurvivalGame.uproject" -NoP4 -Distribution -TargetPlatform=Linux -Platform=Linux -ClientConfig=Shipping -ServerConfig=Shipping -Cook -Build -Stage -Pak -Archive -ArchiveDirectory="$(Agent.BuildDirectory)/Game/SurvivalGame/Build" -Rocket -Prereqs -Package
  displayName: 'Build UE4 Game'
